.delay {
    opacity: 0;
    transform: translateY(30px);
    animation: delayAnimation 0.5s linear forwards;
  }
  
  @keyframes ani {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }
  
  @keyframes delayAnimation {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }