@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-image: url(img/ab.png); */
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Css for button */
.btnDiv {
  margin-top: 10px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divAni {
  animation: ani 0.3s ease-in-out;
}

.btn {
  height: 6vh;
  width: 15vh;
  font-size: 1rem;
  display: inline-block;
  border: none;
  color: #fff;
  background-image: linear-gradient(45deg, #df4881, #c430d7);
  border-radius: 30px;
  border-top-right-radius: 0;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  font-size: 1.1rem;
  height: 6vh;
  width: 17vh;
  box-sizing: border-box;
  border: 2px solid #fff;
  /* border-top-right-radius: 30px; */
  border-radius: 5px;
}
